.jumbotron {
  padding-top: 6rem;
  background-color: #68b0ab;
}

#about {
  background-color: #8fc0a9;
}


#projects {
  background-color: #68b0ab;
}

#contact {
  background-color: #8fc0a9;
}

section {
  padding-top: 5rem;
}
