<!-- About -->
<section id="about">
    <div class="container">
      <div class="row text-center mb-3">
        <div class="col">
          <h2 class="fw-bold">About Me</h2>
        </div>
      </div>
      <div class="row justify-content-center fs-5 text-center">
        <div class="col-md-4" data-aos="fade-right">
          <p>Hi, My name is Farid Ramadhan. I am 20 years old. I live in Indonesia. I am a student, currently studying in the field of information systems. I am very interested in web programming. For now the languages that I have mastered are HTML and CSS, I am currently studying other programming languages such as javascript and php.</p>
        </div>
        <div class="col-md-4" data-aos="fade-left">
          <p>This is my web portfolio. I am just an imperfect human, the website that I created also has many shortcomings due to my limited abilities. therefore I will continue to study hard, learn new things and prepare myself to compete in today's digital era. Best regards, Farid.</p>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#ADC4CE"
        fill-opacity="1"
        d="M0,96L48,106.7C96,117,192,139,288,170.7C384,203,480,245,576,229.3C672,213,768,139,864,128C960,117,1056,171,1152,170.7C1248,171,1344,117,1392,90.7L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </section>
  <!-- akhir about -->