<!-- Contact -->
<section id="contact">
    <div class="container" data-aos="fade-up">
      <div class="row text-center mb-3">
        <div class="col">
          <h2 class="fw-bold">Contact Me</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <form>
            <div class="mb-3">
              <label for="name" class="form-label"><i class="bi bi-file-person"></i> Your Name</label>
              <input type="text" class="form-control" id="name" aria-describedby="name" />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label"><i class="bi bi-envelope-fill"></i> Email</label>
              <input type="email" class="form-control" id="email" aria-describedby="email" />
            </div>
            <div class="mb-3">
              <label for="pesan" class="form-label"><i class="bi bi-chat-fill"></i> Message</label>
              <textarea class="form-control" id="pesan" rows="3"></textarea>
            </div>

            <button type="submit" class="btn" onclick="alert('Cant be used yet')" style="background-color: #96B6C5;"><i class="bi bi-send-fill"></i> Send</button>
          </form>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#96B6C5"
        fill-opacity="1"
        d="M0,192L48,181.3C96,171,192,149,288,149.3C384,149,480,171,576,176C672,181,768,171,864,165.3C960,160,1056,160,1152,160C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </section>
  <!-- Akhir Contact -->