<!-- Footer -->
<footer class="text-dark text-center pb-5" style="background-color: #96B6C5">
    <p>Created with <i class="bi bi-heart-fill"></i> by Faridthns</p>

    <!-- Section: Social media -->
    <section class="pt-0">
      <a class="m-3 text-decoration-none" href="https://www.instagram.com/faariiddd_/"role="button" target="_blank">
        <i class="bi bi-instagram h5 text-dark"></i>
      </a>
      <a class="m-3 text-decoration-none" href="https://github.com/faridthns" role="button" target="_blank">
        <i class="bi bi-github h5 text-dark"></i>
      </a>
      
      <a class="m-3 text-decoration-none" href="https://www.linkedin.com/in/farid-ramadhan-151161268/" role="button" target="_blank">
        <i class="bi bi-linkedin h5 text-dark"></i>
      </a>
    </section>
    <!-- Section: Social media -->
  </footer>
  <!-- Akhir Footer -->