<!-- Projects -->
<section id="projects">
    <div class="container">
      <div class="row text-center mb-3">
        <div class="col">
          <h2 class="fw-bold">My Projects</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
          <div class="card shadow-lg" data-aos="fade-up">
            <img src="assets/img/projects/beritaz7th.png" class="card-img-top bg-primary pt-4 pb-4" alt="Projects1"/>
            <div class="card-body" style="background-color: #EEE0C9">
              <p class="card-text">This is a website that provides the latest news that I created with my friends as an assignment for a web programming I course.</p>
              <a href="../tugas_uas/index.html"><button type="button" class="btn" style="background-color: #96B6C5;">Go To Projects</button></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card shadow-lg" data-aos="fade-up">
            <img src="assets/img/projects/pakuhitam.png" class="card-img-top" alt="Projects2">
            <div class="card-body" style="background-color: #EEE0C9">
              <p class="card-text">This is a construction service rental website that I created with my friends as an assignment for a web programming II course.</p>
              <a href="../PAKU/index.php"><button type="button" class="btn" style="background-color: #96B6C5;">Go To Projects</button></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card shadow-lg" data-aos="fade-up">
            <img src="assets/img/projects/tv.jpg" class="card-img-top" alt="Projects3" />
            <div class="card-body" style="background-color: #EEE0C9">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card shadow-lg" data-aos="fade-up">
            <img src="assets/img/projects/radio.jpg" class="card-img-top" alt="Projects4" />
            <div class="card-body" style="background-color: #EEE0C9">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card shadow-lg" data-aos="fade-up">
            <img src="assets/img/projects/vespa.jpg" class="card-img-top" alt="Projects5" />
            <div class="card-body" style="background-color: #EEE0C9">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#EEE0C9"
        fill-opacity="1"
        d="M0,0L48,26.7C96,53,192,107,288,106.7C384,107,480,53,576,58.7C672,64,768,128,864,138.7C960,149,1056,107,1152,85.3C1248,64,1344,64,1392,64L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
  </section>
  <!-- Akhir Projects -->